/* index.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.indexBody {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.indexCenter{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.cont-form {
    border-radius: 5px;
    background-color: rgb(19, 20, 20);
    border-radius: 15px;
    padding: 20px; 
    max-width: 350px; 
    margin: auto;
   /*  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.logoError {
    width: 100px; 
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}

input[type="number"] {
    margin-top: 10px;
}
.buttonText{
    font-size: 1.2rem;
}
.btn-violet{
    background: #61114e !important;
    color: white !important;
    border: none;
}

.btn-violet:hover{
    background: #bb2297 !important;
  
}
.btn-violet:active{
    background: #960a75 !important;
    border: 1px solid  #960a75 !important;
}
.btn-index{
    color: white !important;
}

.textFieldLogin{
    color: white !important;
}