
.contSurvey{
    /* background-color: rgb(34, 36, 36); */
    border-radius: 15px;
}
.font-emoji{
   margin: 0;
   padding: 0;
   border-radius: 50%;
   cursor: pointer;
   transition: filter 0.3s;
}
.contMain{
    background-color: rgb(19, 20, 20);
    border-radius: 15px;
}
.emoji.grayscale {
    filter: grayscale(100%);
  }