.video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    overflow-y: hidden;
  }
  
  .video-list-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 15px;
    border-radius: 3%;
  }
  
  .video-list-item video {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }